@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Generate An Address Instantly</h1>

        <br />
        <br />

        <a href="/Wallet" class="btn btn-primary btn-lg" role="button">Get Started</a>
    </div>
